[2015-10-01 04:26] vaibhavmagarwal commented on #350
@jmaher I see there are "other_nol64" like "Rev5 MacOSX Yosemite 10.10 try talos other_nol64" present in allthethings.json: https://secure.pub.build.mozilla.org/builddata/reports/allthethings.json
If they are disabled, should they be present in allthethings.json?
Trigger all talos jobs takes a list of talos jobs from allthethings.json itself that is why it is also triggering those jobs. We can bla

[2015-10-01 09:34] jmaher commented on #350
I see all the culprits in allthethings.json which looks to be generated from tools in the braindump repository.  maybe @armenzg knows how that is generated and what we can do to update it properly.

[2015-10-01 13:37] armenzg commented on #351
Looking at this.

[2015-10-01 14:04] armenzg commented on #351
Filed:
https://bugzilla.mozilla.org/show_bug.cgi?id=1210390

I used this instructions to generate it:
https://wiki.mozilla.org/ReleaseEngineering/How_To/allthethings.json

I definitely see the job on TH [1]
I don't see the job in the production allthethings.json [2] but I see it in the one I generated [3]
The size of the files are different [4]

[1] https://treeherder.mozilla.org/#/jobs?repo=mozil

[2015-10-01 15:22] armenzg commented on #351
This has been fixed.
We've added alerts to notice this sooner.
I'm looking into more reliable sources of allthethings.json or of better staleness detection.

[2015-10-01 15:24] armenzg commented on #350
This has been fixed.
We've added alerts to notice this sooner.
I'm looking into more reliable sources of allthethings.json or of better staleness detection.

You can generate the file with this:
https://wiki.mozilla.org/ReleaseEngineering/How_To/allthethings.json

Filed bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1210390

[2015-10-01 15:24] #350 closed

[2015-10-01 19:34] armenzg opened #353 "Change graph of builders from a dictionary into a proper class"
Once the changes from the mozci_bbb branch lands into master we could make a small project to change graphs of builders represented by dictionaries to use a proper class which will be easier to handle.

More details to come once the code lands.

[2015-10-01 20:45] armenzg opened #354 "Proper support for multi-tiered TC graphs"
Once the code from mozci_bbb lands we should be able to point to a task id of a task which is not the id of the parent task.
This will allow requirements like this:
'Builder platformA':
  |--> 'PlatformA test 1'
          \-->  'PlatformB test1'  (this test job should grab the artifacts of 'Builder platformB'
'Builder platformB': {}

* Change _validate_builders_graph() to validate the TC graph ins

[2015-10-01 20:48] armenzg commented on #354
I actually remove _validate_builders_graph() as we were only checking the right repo_name in the builder and that can be checked inside of _create_task()

[2015-10-06 14:14] priyanklodha commented on #344
How should I go about this. Guide me. @adusca @armenzg

[2015-10-06 20:08] adusca commented on #344
Hi @priyanklodha! This issue is being tracked at https://bugzilla.mozilla.org/show_bug.cgi?id=1203621

The idea is to move functions that are currently in pushlog.py into a new file (called pylib/mozhginfo) in version-control-tools (a different repo).

You would have to submit a patch to version-control-tools with a new file containing the functions in pushlog.py and after that gets merged you sho

[2015-10-06 20:33] armenzg opened #357 "Coalesced builds should be treated as non-existent builds"
We would end up using the build from the push which actually run.

See https://bugzilla.mozilla.org/show_bug.cgi?id=1211659

[2015-10-06 20:41] armenzg opened #359 "Store password if the developer requests it"

[2015-10-07 03:43] vaibhavmagarwal commented on #359
@armenzg could you please provide more info for this issue? We currently ask the developer for storing the password in mozci

[2015-10-07 19:28] armenzg commented on #359
My apologies.
I thought the PR would have been automatically been referenced:
https://github.com/armenzg/mozilla_ci_tools/pull/360

[2015-10-08 15:09] armenzg opened #361 "Create script which generates .yml files under Mozilla's Gecko tree"
Recently we have added the ability to create TaskCluster graphs and each task (json objects) which represent a job on Buildbot. Run command [1] to see what a graph looks like.
The code that generates the tasks is here [2] and here [3].

In TaskCluster's decision task [4] we take information from .yml files and turn it into a TC graph in the same format as mozci.

If we had a script that instead of

[2015-10-13 19:32] armenzg commented on #359
Fixed in PR #360

[2015-10-13 19:32] #359 closed

[2015-10-13 19:33] armenzg commented on #357
Fixed in bug https://github.com/armenzg/mozilla_ci_tools/commit/72a7b44930b14ef1aa196f49d631b02917183732

[2015-10-13 19:33] #357 closed

[2015-10-15 21:17] armenzg opened #364 "Speed up running fill-in-a-revision"
It currently takes forever (even on dry-run mode):

It will also be nice if we could make the output less verbose and give a summary at the end.

[2015-10-20 15:25] adusca opened #365 "Periodically clean allthethings.json in-memory cache"
To insure that pulse_actions doesn't act on old information.

[2015-10-21 18:00] armenzg commented on #347
We can determine this information from the treeherder client:
In [4]: tc.get_repositories()
Out[4]:
[{u'active_status': u'active',
  u'codebase': u'gecko',
  u'description': u'',
  u'dvcs_type': u'hg',
  u'id': 1,
  u'name': u'mozilla-central',
  u'repository_group': {u'description': u'', u'name': u'development'},
  u'url': u'https://hg.mozilla.org/mozilla-central'},

[2015-10-21 19:30] armenzg opened #366 "Give SETA awareness to mozci"
Whenever we fetch a new allthethings.json we should also determine the schedule at which SETA runs.
This is useful for automatic backfilling since we want to know how far we need to go to find an issue.

For instance, our current SETA skipping level is of 7 pushes instead of 5 pushes [1]
The information is contained within the scheduler's name:
    "tests-fx-team-snowleopard-opt-unittest-7-3600":

[2015-10-23 21:48] armenzg commented on #365
I already landed some code disable_validations() in one of my branches:
https://github.com/mozilla/pulse_actions/compare/master...armenzg:bug1180732_improve_backfilling

[2015-11-02 14:02] MikeLing commented on #263
Hey armenzg, due to I haven't found you on irc, so I decide to leave comment here and take this issue as my first bug for quarter of contribution. Is that ok?

[2015-11-02 15:14] armenzg commented on #263
As we agreed on IRC, @MikeLing will be giving us a hand with this.
Let me or @adusca know if we can assist you.

[2015-11-04 12:46] MikeLing commented on #263
Hi armenzg, @armenzg I meet some problems when I try to run 'tox'.  https://pastebin.mozilla.org/8851274

And as you said, I been authentication when I click those link you left above. What should I do next?

[2015-11-04 13:27] armenzg commented on #263
Hi @MikeLing , in order to have access to buildapi you need LDAP credentials with scm_level of 1 (allowed to commit to try). Would you want to get commit privileges for try? Do you have experience with commiting code to Mercurial?
This is what Alice did to get access:
https://bugzilla.mozilla.org/show_bug.cgi?id=1136191
You would have to read this and agree to it:
https://www.mozilla.org/en-US/abo

[2015-11-05 05:04] MikeLing commented on #263
Hi @armenzg and @adusca , When I try to run 'find_status_for_jobs.py', it tells me **can't import _matching_jobs**.

(mozici_env)MikeLings-MacBook-Pro-2:mozilla_ci_tools mikeling$ python mozci/scripts/misc/find_status_for_jobs.py -b 'Linux mozilla-inbound leak test build' -r ae33441d7f86
Traceback (most recent call last):
  File "mozci/scripts/misc/find_status_for_jobs.py", line 6, in <module>

[2015-11-05 14:18] armenzg commented on #263
Normally those scripts can fall out of date (the ones under 'misc').

I just checked the code but I would like you to find out for where the new version of _matching_jobs has ended up under. Hint: you can use tests to find it.

[2015-11-05 19:26] adusca commented on #343
@F3real, thanks for your interest in this issue! This is also being tracked on bugzilla, under the bug
https://bugzilla.mozilla.org/show_bug.cgi?id=1203618

You would have to submit a patch to buildapi [1] with a new file (called buildapi_client.py) containing the functions in builapi.py and after that gets merged you should submit a patch to mozci to remove the functions here and import the ones

[2015-11-05 20:51] F3real commented on #343
I have few questions. First in which directory should I create buildapi_client.py. Second buildapi.py imports some things from mozci. Should I import those things to in buildapi_client.py ? I added errors to buildapi_client.py already but that's probably not best solution.

[2015-11-05 21:36] armenzg commented on #343
Hi @F3real that is a very good question!

Please bear with me as I think this can be a bit cumbersome.

First, I believe we should start with a fork of the buildapi repo either on GitHub or BitBucket (whatever is easier for you). That way I can checkout your code and test it out.

Second, the logic about repositories could be moved to mozci/mozci.py Since we're moving that logic out of buildapi.py

[2015-11-05 23:18] F3real commented on #343
I haven't really understood what should I do with 3 lines you talked about. After removing all logic about repositories it seems BuildapiError is not needed too so should he be removed ? I did some progress
https://github.com/F3real/build-buildapi/blob/master/buildapi/lib/buildapi_client.py#L74

[2015-11-06 15:56] armenzg commented on #343
Hi @F3real this is looking in the right direction.

Could you please move the file under the root directory as buildapi_client/buildapi_client.py?
Could you also add what is needed to create a python package?

I think you can start making related changes to youe mozci fork where we remove buildapi.py and we include a buildapi_client python package as a dependency.

WRT to the 3 lines (more like )

[2015-11-06 16:38] armenzg opened #373 "Make mozci aware of pending load"
Some sources of knowledge:
https://bug1204970.bmoattachments.org/attachment.cgi?id=8680680
https://bugzilla.mozilla.org/show_bug.cgi?id=1204970

[2015-11-06 16:58] armenzg commented on #373
Some code already landed in here:
https://github.com/mozilla/mozilla_ci_tools/compare/master...armenzg:bug1195851_pending_jobs

Here's the bug where this would be used in:
https://bugzilla.mozilla.org/show_bug.cgi?id=1195851

[2015-11-08 17:49] armenzg opened #375 "Remove bugsy as a dependency to mozci"
@vaibhavmagarwal I would like to remove generate_triggercli.py and bugsy from mozci as it is not necessary needed to support a specific functionality of mozci.

Does this work for you?

I'm also considering removing some of the other scripts of mozci. Not sure yet. I will write more about it when I have a plan.

[2015-11-08 17:53] vaibhavmagarwal commented on #375
Sure, generate_triggercli.py was more of a hack to test if it helped to deal with intermittent oranges. I think it is no longer useful.

[2015-11-08 18:49] armenzg commented on #375
Thanks @vaibhavmagarwal !

[2015-11-08 18:52] adusca commented on #375
I think this is a good bug for a new contributor.

[2015-11-08 19:31] vaibhavmagarwal commented on #375
I don't think this is a good first bug. Removing an unused file does not
add value to knowing about the project, in fact causes confusion (I know
:mikeling was confused since scripts were not working under misc/
directory).
On 09-Nov-2015 12:22 AM, "Alice" <notifications@github.com> wrote:

[2015-11-09 04:24] vaibhavmagarwal commented on #375
Looks like @armenzg has fixed this issue in https://github.com/mozilla/mozilla_ci_tools/commit/88d592b119fbbd41a9e55076a763b62f1c571479. Closing this.

[2015-11-09 04:24] #375 closed

[2015-11-09 14:57] armenzg commented on #375
I think it would have been a good issue as one first step with a project is to get the feet wet with GitHub and the most minimal contribution process but I was already on it :) It's easy to forget our first time dealing with GH, forks and everything around a PR!

[2015-11-09 16:01] F3real commented on #343
Hey, I've got few questions.
I am not sure if I should modify setup.py in root dir or create another one (not sure if there can be 2 in project). I have created new function from piece of code u said we need (https://github.com/F3real/build-buildapi/blob/master/buildapi_client/buildapi_client.py). I've also seen that we need to specify license for project when publishing and I am not sure which li

[2015-11-10 15:20] armenzg commented on #343
Hi @F3real there can be two different setup.py file on a repo.
Having a buildapi_client/ directory allows you to have a logical separation from the rest of the project.

The diff looks good. Once you add the setup.py and the packaging works you should start modifying mozci to start using this. Since you don't have credentials to access Buildapi. I will test it for you once you have the changes rea

[2015-11-10 18:24] armenzg commented on #365
That code landed.
From my findings, there's no way to have an up-to-date allthethings.json provided by releng.

[2015-11-10 18:24] #365 closed

[2015-11-10 18:30] armenzg commented on #354
We landed some code which allows setting the 'parent_task_id' rather than being tied to the tasks which we require [1].

Once we have a real consumer for this feature we will re-evaluate what is needed and open a new one.

[1] https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/sources/buildbot_bridge.py#L90

[2015-11-10 18:30] #354 closed

[2015-11-10 18:33] armenzg commented on #347
We could also have this information be part of a pushlog client once it is moved to version-control-tools.

https://bugzilla.mozilla.org/show_bug.cgi?id=1203621
https://hg.mozilla.org/hgcustom/version-control-tools

[2015-11-10 18:42] armenzg opened #376 "Given a list of builders turn it into a TaskCluster graph"
The code in some ways will be very similar to "build_tests_per_platform" [1].
I believe the code to modify would be "buildbot_graph_builder" [2]

The current implementation assumes that all builders are downstream builders and have the same parent builder.

[1] https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/platforms.py#L249
[2] https://github.com/mozilla/mozilla_ci_tools/blob/maste

[2015-11-11 14:35] armenzg commented on #347
From reading the bug, we can have under pylib/mozpushlogclient the file repository.py [1] + our pushlog.py module.

[1] https://hg.mozilla.org/hgcustom/version-control-tools/file/tip/pylib/mozautomation/mozautomation/repository.py

[2015-11-11 18:53] armenzg commented on #343
Hi @F3real, I've asked for the main developers of buildapi to use a distinct repo.
Would you mind forking this and using it for this?
https://github.com/armenzg/buildapi_client

So far the code looks good. I will start writing a python notebook to help test your code changes.

[2015-11-11 19:38] armenzg commented on #343
I've noticed these changes are required [1]

I've also commited a python notebook which helps me test your changes [2].
With the argument dry_run=True you can tested these changes without authentication.

To use the notebook:
1) create a virtualenv and activate it
2) install your client (python setup.py develop); it installs requests
3) install jupyter
4) optional packages (keyring if you had cred

[2015-11-12 15:04] armenzg commented on #344
hi @priyanklodha we have someone else interested working on this.
Since I have not heard back in over a month I belive it is safe to assume that you can pick up other issues if you're still interested in contributing.

[2015-11-12 16:20] armenzg commented on #344
@priyanklodha my apologies. I realized that collabaration could be happening outside of the actual GH issues.

Are you still interested on this issue?

[2015-11-12 19:58] F3real commented on #343
Hey @armenzg ,
I've added and fixed tests. I was wondering should BuildapiAuthError be exported too in init.py. Anyway could you take look at code and see if it's alright?
I'll start modifying mozci soon.

[2015-11-12 20:00] xennygrimmato commented on #332
I am working on this issue.

[2015-11-13 08:10] MikeLing commented on #344
Hi @armenzg and @adusca , after second thought, I would like to take this in my pocket even the convert full revision haven't been fixed. Due to our time zone is different, I would like to work on two issues at same time so I can switch to another issue when I get stuck. And I can bring my question on IRC when you online ;)

[2015-11-13 08:21] MikeLing commented on #344
Due to those comments for another release issue about buildapi_client, I create a repo in here :) https://github.com/MikeLing/pushlog_client

[2015-11-13 13:50] armenzg commented on #344
You can make pushlog_client a dependency for buildapi_client.

[2015-11-13 14:35] armenzg commented on #344
I forked a mirror of version-control-tools; let's use that:
https://github.com/armenzg/version-control-tools

[2015-11-13 15:00] armenzg commented on #343
Hi @F3real now that we have a PR for this, let's use it for further discussions:
https://github.com/armenzg/buildapi_client/pull/1

I will answer there.

[2015-11-13 20:58] xennygrimmato commented on #332
I am trying to run triggerbyfilters.py this way:
`python triggerbyfilters.py mozilla-inbound 80a79987da8b --includes "linux" --dry-run --debug`

@adusca - Since I dont have LDAP credentials, how do I run this?

[2015-11-14 11:54] MikeLing commented on #344
Hmm, I haven't understand the meaning of 'use mirror version-control-tools', could you explain more for me? What's this vct for? How to use it? Should I fork it?
Thank you.

[2015-11-15 01:05] adusca commented on #332
@xennygrimmato Unfortunately, we don't really have a way of testing mozci without LDAP yet, it is the largest barrier for new contributors :-( If you submit a PR I can test your code locally and give you feedback.

For now, can you try creating a file called repositories.txt under ~/.mozilla/mozci
with the following:
[code]
(note that this is a 'fake' repositories.txt with just the minimum necessa

[2015-11-15 05:02] vaibhavmagarwal commented on #332
Since repositories.txt is a read only file, I think there will be no harm in removing the need for LDAP credentials at the source level for it, or host it on another url. Do you guys think that can be done?

[2015-11-15 17:24] adusca commented on #344
Hi @MikeLing! The idea is to submit a patch to version-control-tools containing a new file called mozhginfo.py under pylib/ so everything can be kept up-to-date together (see https://bugzilla.mozilla.org/show_bug.cgi?id=1203621#c3 ). This file will have the same contents as pushlog.py, and in the future we are going to depend on it. We also want to move the tests for pushlog.py.

@armenzg Does ver

[2015-11-16 11:45] MikeLing commented on #344
@adusca Thank you ! so I should fork the version-control-tools first, then create a pushlog_client folder under pylib/ which include pushlog.py and test for it. right?

[2015-11-16 19:40] armenzg commented on #332
I could host it at people.mozilla.com until then. Should we go that way or fix https://github.com/mozilla/mozilla_ci_tools/issues/347?

We could also commit in the repo. We don't really repositories that often.

[2015-11-17 03:59] vaibhavmagarwal commented on #332
In an ideal world, it would make sense to just remove the need for LDAP credentials at repositories.txt [1]. However if that is not possible, I am fine with committing a static file in the repository for ease of use to new contributors.

[1] - https://secure.pub.build.mozilla.org/buildapi/self-serve/branches

[2015-11-17 08:39] xennygrimmato commented on #332
@adusca - I created repositories.txt as you suggested. On running `python triggerbyfilters.py mozilla-inbound 80a79987da8b --includes "linux" --dry-run --debug --query-source=treeherder`, I got the following response:

`No handlers could be found for logger "mozci"`

[2015-11-17 17:01] xennygrimmato opened #379 "Running triggerbyfilters.py with wrong LDAP credentials gives a logging error"
I am running:
`python triggerbyfilters.py mozilla-inbound 80a79987da8b --includes "linux" --dry-run --debug --query-source=treeherder`
I am passing invalid/wrong LDAP credentials and getting this:
`No handlers could be found for logger "mozci"`
Stack trace: https://pastebin.mozilla.org/8852391

[2015-11-17 17:44] vaibhavmagarwal commented on #379
This issue is reproducible. @xennygrimmato showed interest in solving the bug.

[2015-11-18 14:31] armenzg commented on #344
@adusca would you mind looking at this class https://github.com/armenzg/version-control-tools/pull/1/files#diff-e3162bccd774442d618e5b04312c55f1R66 ?

For anyone interested we're making progress in here:
https://github.com/armenzg/version-control-tools/pull/1

[2015-11-18 14:58] armenzg commented on #379
Thanks @xennygrimmato for reporting this! Let me know if you need any pointers.

[2015-11-20 15:08] armenzg commented on #379
Tagging as part of the "user facing" milestone.

[2015-11-20 15:09] armenzg commented on #376
I believe adusca fixed this with this:
https://github.com/mozilla/mozilla_ci_tools/pull/378

[2015-11-20 15:09] #376 closed

[2015-11-20 15:42] armenzg commented on #326
I think we could use --fill-revision in here:
https://github.com/mozilla/mozilla_ci_tools/blob/2cc9f0b8f7cb4378c06a28df9fda45d72af1d43c/mozci/scripts/trigger.py#L264
and only trigger tests for existing builds.

Perhaps we could have a flag --trigger-only-test-jobs to make it extra obvious rather than having to use two flags (--fill-revision and --existing-only).

trigger_missing_jobs_for_revision

[2015-11-20 15:43] armenzg commented on #263
This was fixed by @MikeLing
Thanks!
https://github.com/mozilla/mozilla_ci_tools/pull/374

[2015-11-20 15:43] #263 closed

[2015-11-20 17:20] armenzg opened #382 "Do not delete files automatically"
It seems that we automatically clean files older than 30 days [1]
This is a very low priority issue.
This was needed for pulse_actions not to store too much data on disk, however, the dynos are restarted every day and we start from a clean slate.

This became a nuissance when I was trying to work on a push older than 30 days.

Let's not delete by default, change the value to 120 days (since TH doe

[2015-11-20 19:52] armenzg opened #383 "Merge triggerbyfilters.py with trigger.py"
It would also be good if we could have "commands" for trigger.py for everyone of the modes in which we can run.

If you do `git help` you will you that there are various commands.
Each of those commands can have their own set of optional arguments.

For instance, if we considered `filter` a mode or command, we could have:
trigger.py filter --help
and that would show the optional arguments which ar

[2015-11-20 20:02] armenzg opened #384 "Make trigger.py to schedule jobs through TaskCluster instead of Buildapi"
trigger.py [1] currently schedules jobs through Buildapi instead of TaskCluster.
We can switch this by scheduling through the classes defined in mozci/ci_manager.py
Technologically, we want to move away from using Buildapi directly since it will be deprecated eventually.

I want to allow people to say --scheduling-source 'buildapi' if they want to but default to TaskCluster.

[1] https://github.co

[2015-11-20 20:07] armenzg commented on #243
Since we've moved buildapi into its own package, I've filled this:
https://github.com/armenzg/buildapi_client/issues/3

[2015-11-20 20:07] #243 closed

[2015-11-20 20:49] armenzg commented on #343
Fixed!

[2015-11-20 20:49] #343 closed

[2015-11-20 20:50] armenzg commented on #343
https://github.com/mozilla/mozilla_ci_tools/pull/381

[2015-11-20 21:19] armenzg commented on #364
F3real is interested on looking at this.

[2015-11-21 08:00] MikeLing commented on #384
Hi @armenzg , do you want me to work on this? I'm interesting in this, so you could assign it to me if it's OK: )

[2015-11-21 20:27] adusca commented on #364
I think the best way to go about this is to use BBB. Not only this will make --fill-revision faster, it will make it more reliable (right now when the build job doesn't exist only the build job gets triggered by us, with BBB we can schedule the downstream jobs), and with a less verbose output.

On `trigger_missing_jobs`, after obtaining the list of jobs for the repo [1], instead of calling `trigge

[2015-11-21 20:57] adusca commented on #313
Fixed in #315

[2015-11-21 20:57] #313 closed

[2015-11-22 07:10] MikeLing commented on #384
Is that the BuildApi you mean in here (https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/scripts/trigger.py#L18)? which defined in query_job? I only find this part is related with BuildApi, is that correct?

[2015-11-22 13:16] xennygrimmato commented on #347
Can you assign me to this issue?

[2015-11-22 14:42] vaibhavmagarwal commented on #347
@xennygrimmato this will involve (most-likely) the repositories.txt file from LDAP to the repository. Do you have access to it?

[2015-11-22 14:45] xennygrimmato commented on #347
I have a copy of repositories.txt, given to me by @adusca on my local
machine. I do not have LDAP access.

On Sunday, November 22, 2015, Vaibhav Agrawal <notifications@github.com>
wrote:

--
Regards,
Vaibhav Tulsyan.

[2015-11-22 14:47] vaibhavmagarwal commented on #347
Cool, then go ahead, commit it, make the necessary changes to code and send a PR!
Assigning you this issue.

[2015-11-22 17:04] adusca commented on #384
@MikeLing Right now we do all of our trigger requests (trigger_arbitrary_job, make_retrigger_request) using [BuildApi self-serve](https://secure.pub.build.mozilla.org/buildapi/self-serve).

We would like to use BBB (Buildbot Bridge) instead. [This](https://github.com/mozilla/pulse_actions/blob/master/pulse_actions/handlers/treeherder_runnable.py#L63) is an example of using BBB to schedule a graph

[2015-11-22 17:05] adusca commented on #384
@armenzg Since using BBB requires different credentials, how would current mozci users be able to continue using trigger.py?

[2015-11-23 08:08] xennygrimmato commented on #379
For this issue, should I commit `repositories.txt` inside:
https://github.com/armenzg/buildapi_client

and in this function:
https://github.com/armenzg/buildapi_client/blob/master/buildapi_client/buildapi_client.py#L115
I must fetch data from the same repositories.txt file. Is that the right direction to think?

[2015-11-23 09:39] vaibhavmagarwal commented on #379
I think that is the right direction. @armenzg does this sound good to you?

[2015-11-23 14:18] armenzg commented on #364
@adusca for president! :)

@F3real it is the better way to fix this but it will take a bit of extra understanding. Let me know if you would still be interested or prefer something else.

[2015-11-23 14:25] armenzg commented on #99
@xennygrimmato if you're interested in this. I would try running one or two different ways that script and see if you find any bottlenecks.

However, we're hoping to move from using Buildapi to TaskCluster to scheduling jobs. With this being said, do not try to analyze anything around buildapi.

We can also look into switching from using Buildapi as a source of jobs to Treeherder (--query-source='

[2015-11-23 15:03] xennygrimmato commented on #99
Cool, then I'd look at this some time later, if required.

[2015-11-23 15:11] xennygrimmato commented on #382
Has this been fixed already? If not, I can take care of this and create a PR.

[2015-11-23 15:25] armenzg commented on #353
We represent "builders graphs" as dictionary of dictionaries [1]
A more structured class would be ideal (e.g. BuildersGraph).
It would also be great if it had methods to transform it into a TaskCluster graph.
In other words, some of the functions of buildbot_bridge.py could be turned into a class class GraphTransformations or GraphFactory.

This issue will require a *lot* of back and forth from th

[2015-11-23 15:27] armenzg commented on #353
This is not as high of a priority compared to other issues.
It is a matter of cleaner data structure if you're interested in these type of problems.
It does not gain much than architecturally better code, however, we don't need it to add any new functionality.

More importantly than this might be adding tests for buildbot_bridge.py and if one day someone wants to tackle this they would have tests

[2015-11-23 15:42] armenzg opened #386 "Use retries instead of reruns"
jonasfj, says that reruns is an anti-pattern and we should use retries instead
https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/sources/tc.py#L114
http://docs.taskcluster.net/queue/api-docs/#createTask

Please read the docs and ask jonasfj to help us understand the reason of the switch since I can't remember at the moment.

[2015-11-23 15:43] armenzg commented on #339
Closing this as it can be confusing.

[2015-11-23 15:43] #339 closed

[2015-11-23 15:55] armenzg commented on #384
I added some info on how to get credentials in here:
http://mozilla-ci-tools.readthedocs.org/en/latest/buildbot_bridge.html

Do you think this is a good start?

[2015-11-23 15:58] armenzg commented on #382
Assigned! Thanks @xennygrimmato

[2015-11-23 18:24] armenzg commented on #373
I moved part of the patches in that branch to the buildapi_client repo (since we've moved it):
https://github.com/armenzg/buildapi_client/tree/bug1195851_pending_jobs

[2015-11-23 18:27] armenzg opened #387 "Make fill-in-a-revision work with TaskCluster (via BuildbotBridge)"
We currently use Buildapi jobs instead of TaskCluster (via BuildotBridge).
This is important as it will help us move away from Buildapi and scheduling is one simple post request rather than one request per job we want to schedule.

[2015-11-23 18:28] armenzg commented on #364
@F3real I filed https://github.com/mozilla/mozilla_ci_tools/issues/387
Let us know there if you're still interested with this different scope.

[2015-11-23 18:29] armenzg commented on #387
Copying from another isse (via @adusca ):

I think the best way to go about this is to use BBB. Not only this will make --fill-revision faster, it will make it more reliable (right now when the build job doesn't exist only the build job gets triggered by us, with BBB we can schedule the downstream jobs), and with a less verbose output.

On trigger_missing_jobs, after obtaining the list of jobs for

[2015-11-23 18:31] armenzg commented on #387
@F3real is interested on working on this.

[2015-11-24 03:51] xennygrimmato commented on #386
Can this be closed now?

[2015-11-24 04:04] xennygrimmato commented on #382
So, since we do not want to clean by default, should I just remove this line:
https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/mozci.py#L412

And insert a global `CLEANUP_DAYS` variable in:
https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/utils/transfer.py

I will modify:
https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/utils/transfer.py#L44
with:
[code]
Does

[2015-11-24 11:08] vaibhavmagarwal commented on #386
@xennygrimmato is this no longer a valid issue? Could you please comment here the reason for it?

[2015-11-24 14:11] xennygrimmato commented on #386
After a discussion with @jonasfj and @armenzg it was concluded that we do not need to modify the current behaviour. The discussion thread is on our personal emails, so if you want, I can share it with you.

[2015-11-24 14:12] armenzg opened #391 "Upgrade requests to the latest release"
From gps:
requests 2.6.0 contains a CVE fix. And the latest version has an updated cert bundle. For security reasons, please require the newest released requests package, which is currently 2.8.1.

[2015-11-24 14:39] armenzg commented on #334
If you look at the docs:
http://docs.taskcluster.net/queue/api-docs/#createTask
you will see information about setting a priority of a task.
It also requires setting the scope mentioned for the graph containing the task, as well as the tool scheduling (the credentials behind it) having the required scope.

Think of scopes as permissions.

[2015-11-24 15:02] armenzg commented on #334
now, there are two priorities we can talk about
there is the priority of the Buildbot job and then there is the priority of a TC task
in the case of scheduling jobs through TC, I don't think the standard TC priority field will have any effect on the Buildbot job
we would have to learn how to make it work for both: normal TC tasks and TC tasks which trigger Buildbot jobs

Please read these two blog

[2015-11-24 15:15] armenzg commented on #334
In general, for scheduling arbitraty jobs through Buildapi we have this(triggered through [1]):

In the API's doc we can see how we build a payload with 'properties' and 'files' [2]
From looking at [3] it might meant that we can't set the priority to begin with.
If that is the case, we would need to schedule jobs and increase priorities after the fact with this other API:

@xennygrimmato this is n

[2015-11-24 15:19] armenzg commented on #382
Yes to all :)

[2015-11-24 15:21] armenzg commented on #386
Yes, please.
Could you please add the convo with jonasfj?
That way it becomes publicly available.

Thanks!

On 24 November 2015 at 09:11, Vaibhav Tulsyan <notifications@github.com>
wrote:

--
Zambrano Gasparnian, Armen
Automation & Tools Engineer
http://armenzg.blogspot.ca

[2015-11-24 21:21] adusca commented on #384
@armenzg Would this break trigger.py for our users unless they specify --buildapi? Or it is safe to assume that most of our users will have TC credentials?

[2015-11-25 15:58] armenzg opened #392 "Add determine_missing_jobs() to BaseCIManager"
I want to have a generic function which both BuildAPIManager and TaskClusterBuilapiManager can use to implement trigger_missing_jobs.

If you look at https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/mozci.py#L504
we don't try to see which jobs are missing.
We simply make calls to trigger_range() for every job which is slow.

Instead we should:
* determine all buildbot jobs that could

[2015-11-25 16:04] armenzg opened #393 "Add determine_range() to query_jobs.py"
In trigger_range() [1] from mozci.py, we try to determine what to schedule and iterate through it.
Instead, we should create a determine_range() function in BaseCIManager that should not schedule anything but yield for each revision what jobs need to be scheduled.

Once that is in place, we should write trigger_range() in BuildapiManager to make use of it.

[1] https://github.com/mozilla/mozilla_c

[2015-11-25 16:23] armenzg commented on #392
query_source.py seems a better place.

[2015-11-25 16:24] armenzg commented on #393
query_source.py

[2015-11-25 16:27] armenzg commented on #393
query_jobs.py

[2015-11-25 17:05] armenzg opened #395 "determine_missing_jobs finds both opt and pgo jobs if available"
Once https://github.com/mozilla/mozilla_ci_tools/pull/388 wraps up.

In some repositories like mozilla-inbound, we trigger "OPTimized" jobs on developer's pushes while we trigger "pgo" jobs on a schedule.

We should allow passing a parameter to determine_missing_jobs to:
* return only opt jobs (when there is equivalent pgo jobs) - by default
* return only pgo jobs (when there is equivalent opt job

[2015-11-25 19:13] armenzg commented on #384
It will be fine until we make a release.
We should give people heads up and tell them ahead of time that they should get TC credentials.

[2015-11-25 20:25] #382 closed

[2015-11-26 08:16] MikeLing commented on #392
hi @armenzg , I would like to work on this issue: )

[2015-11-26 14:08] armenzg commented on #392
Hi @MikeLing, @F3real already has some progress in this area.

Could you please focus on https://github.com/mozilla/mozilla_ci_tools/issues/393 or another issue?

[2015-11-26 14:41] armenzg commented on #386
From Jonas:
I think that is totally sane!

Sorry, if I some time say crazy things like reruns are bad -- which they are (sort of like drugs - really hard to get off, once hooked, hehe).
I'm not sure how much reruns we actually use in-tree. So maybe it's not so bad.
Either way I don't think it's a problem that mozci needs to do anything about. As long as it doesn't worsen the problem, which is
not

[2015-11-26 14:41] #386 closed

[2015-11-26 15:08] armenzg opened #396 "Switch mozci to using pushlog_client"
@MikeLing helped us release the pushlog module as its own python package.
We should start making use of it.

[2015-11-26 15:25] armenzg commented on #347
The pushlog_client code has now landed:
https://hg.mozilla.org/hgcustom/version-control-tools/rev/6021c9031bc3

We can talk to gps on how to make use of repository.py for this:
https://hg.mozilla.org/hgcustom/version-control-tools/file/tip/pylib/mozautomation/mozautomation/repository.py

I would prefer fixing it this way since others could use pushlog_client to deal with repositories meta-data.

[2015-11-26 17:51] xennygrimmato commented on #347
Can you give me some clarity on how pushlog_client can be used for providing repositories.txt data?

[2015-11-26 17:55] armenzg commented on #347
repository.py has metadata about valid repositories.
It would need a bit of manipulation and might need moving the location of repository within that repo.

[2015-11-27 01:22] MikeLing commented on #396
Hey, I would like to work on this job. Just want to make my job more continuity ；）

[2015-11-27 13:54] armenzg commented on #396
Thank you @MikeLing !

[2015-11-27 15:07] armenzg commented on #361
This push https://hg.mozilla.org/try/rev/52bcfd8df0a1 only has Buildbot jobs
In this push https://hg.mozilla.org/try/rev/1c68092b1972 I'm trying to add more and more .yml files until I can run the same number of jobs as the Buildbot ones.
The .yml files which you see on that push are for *non* Buildbot jobs so they have many more fields

[2015-11-27 16:22] armenzg commented on #361
Link to gecko decision tasks: https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&filter-searchStr=gecko

[2015-11-27 20:45] adusca commented on #392
Fixed in #388

[2015-11-27 20:45] #392 closed

[2015-11-27 20:57] adusca commented on #387
Fixed in #388

[2015-11-27 20:57] #387 closed

[2015-11-27 22:55] adusca opened #397 "[Tracker] Have all the functions we call in trigger.py in both BuildApiManager and TaskClusterBuildbotManager"
This blocks #384

The goal is, in the future, to be able to do:
[code]
in trigger.py, depending on what the user chooses, and then we can call every function in every mode as:
[code]
We will need to move the exisiting mozci.py functions to BuildApiManager() and write equivalent functions (with the same API) on TaskClusterBuildbotManager()
- [x] trigger_range
- [x] trigger_missing_jobs (check PR #3

[2015-11-27 23:22] adusca opened #398 "Support trigger_build_if_missing on trigger_missing_jobs in BBB"
Currently, trigger_missing_jobs_for_revision on BBB takes trigger_build_if_missing as a parameter [1], but it doesn't do anything with it. We need to pass the argument to buildbot_graph_builder. There we need to add an extra if clause to only add the build job and the test job if trigger_build_if_missing is False [2]

[1] https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/ci_manager.py#

[2015-11-30 16:31] F3real commented on #366
I am interested in working on this.

[2015-11-30 16:35] armenzg commented on #326
@gijsk we've landed some code that fixes this:
https://github.com/mozilla/mozilla_ci_tools/commit/f8679c7e447954af2690b2c8fb53c0f1c93684da

[2015-11-30 16:35] #326 closed

[2015-11-30 18:49] armenzg commented on #397
\o/

[2015-12-02 16:17] F3real commented on #373
I am interesting in trying to do this.

[2015-12-02 17:18] armenzg commented on #373
Thanks Stefan!

[2015-12-02 17:18] armenzg commented on #373
Let me know if you have trouble using the branch in my repo.

[2015-12-03 15:41] armenzg commented on #353
Let's close this.

[2015-12-03 15:41] #353 closed

[2015-12-03 16:47] armenzg commented on #132
I think this will be something we would like to look into next quarter. Probably me.

[2015-12-04 08:28] MikeLing commented on #393
Hmm, do we still need this issue? Actually, I haven't found determine_range() function in BaseCIManager. @adusca and @armenzg

[2015-12-04 11:42] MikeLing commented on #383
Hi @adusca and @armenzg , I had do some initial work for this issue. Hope it's ok :)
https://github.com/mozilla/mozilla_ci_tools/pull/402

[2015-12-04 22:38] armenzg commented on #393
I will leave this issue unread in my inbox and look at it on Monday.
I need to revisit this.

[2015-12-08 09:09] xennygrimmato commented on #345
I discussed this with @MikeLing and I would like to work on this.
First, should I emulate what TravisCI is currently doing with TaskCluster-Github, and meanwhile take inputs from @armenzg and @adusca  regarding what else we could add to it?

[2015-12-10 19:54] armenzg opened #406 "Do not specifiy files if they're set to None"
We can set it to None, however, we're setting it to [None, None].
https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/mozci.py#L416

[2015-12-10 20:05] armenzg commented on #393
Let's close this for now.

[2015-12-10 20:05] #393 closed

[2015-12-14 17:39] armenzg commented on #373
We won't be using this for a while.
Let's close it and re-open it if it comes to it:
https://github.com/armenzg/buildapi_client/commit/ae51e9ebd702e16fcf2b34bdc74ec4aa88fedf74

[2015-12-14 17:39] #373 closed

[2015-12-17 02:25] MikeLing commented on #344
Maybe we could close this issue? :)

[2015-12-17 11:33] MikeLing commented on #344
Oh, I think maybe we need to add these code https://github.com/MikeLing/version-control-tools/commit/c46cb4b52ecc73cf209cb5b6108e86dc6d24fdb6 for this https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/sources/pushlog.py#L92 ?

I somehow miss it in last PR because I think it's good to work, but I found it's necessary for mozci_tool. :)

[2015-12-17 13:59] armenzg commented on #344
Yes, we need to modify mozci to use the pushlog_client. Please let me know if you have questions.

[2015-12-18 14:17] upsuper opened #410 ""That repository does not exist." is reported if --repo-name is not specified explicitly"
It seems to me a while before, mozci was able to deduce the repo name itself without specifying anything. But after I upgraded to the latest version today, when I tried to run `mozci-trigger -b "Ubuntu VM 12.04 try opt test mochitest-e10s-browser-chrome-2" -r 18ecc556cb92`, it reports
[code]

It only worked after I appended `--repo-name try` to the argument list.

This behavior doesn't make sense

[2015-12-18 18:12] armenzg commented on #410
You're right. Thanks for reporting this.

@MikeLing do you have time to look into helping Xidorn?

[2015-12-18 18:27] adusca commented on #410
https://github.com/mozilla/mozilla_ci_tools/pull/390#issuecomment-162002475

[2015-12-18 18:55] armenzg opened #412 "The trigger by filter functionality always shows the same list of builders even with --existing-only"
The script triggerbyfilters.py (soon to be merged with trigger.py) always shows the same list of builders to the users regardless if they use "--existing-only" or not:
https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/scripts/triggerbyfilters.py#L115

    if options.existing_only:
        cont = raw_input("The ones which have existing builds out of %i jobs will be triggered,\

[2015-12-18 19:22] armenzg opened #413 "Try out new authentication approach for taskcluster"
Once https://github.com/taskcluster/taskcluster-client.py/pull/33 lands, the taskcluster python client will have taskcluster.authenticate() which opens a browser and authenticates using login.tn and the "grant access" button.

Let's see if we can make this work.

There's some more info in here:
https://groups.google.com/forum/#!topic/mozilla.tools.taskcluster/xNZHBSZiy50

[2015-12-20 03:05] MikeLing commented on #410
yep, I will look more into this :)

[2015-12-21 16:18] armenzg commented on #410
@upsuper we've fixed this in the dot release I just made.
Thanks for reporting!

[2015-12-21 16:18] #410 closed

[2015-12-22 14:54] armenzg opened #416 "Use treeherder to query information about repositories"
We currently use buildapi to determine this information:
https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/repositories.py
Unfortunately it requires credentials.

Treeherder has an API we should use instead:
https://treeherder.mozilla.org/api/repository
We should look if the treeherder client already has the code we can call to use this.

This would allow contributors without credentia

[2016-01-11 20:11] #366 closed

[2016-01-18 07:20] upsuper opened #420 ""ValueError: too many values to unpack" when triggering builds"
[code]

[2016-01-18 13:55] #420 closed

[2016-01-18 15:09] armenzg commented on #420
This worked for me:
python mozci/scripts/trigger.py -r 2dec9c12a438 --times 20 -b "Ubuntu VM 12.04 try debug test mochitest-6" --debug --dry-run

[2016-01-19 07:12] MikeLing opened #421 "the buildbot_to_taskcluster has been broken"
If you use

to test the buildbot_to_taskcluster and you will find a error will shows up like:

I suppose the error is comes from https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/sources/buildbot_bridge.py#L378. We may need to give a 'metadata' data for it or at least set a default value for metadata in https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/sources/tc.py#L274.

[2016-01-19 07:14] MikeLing commented on #421
@armenzg

[2016-01-19 13:30] parkouss opened #422 "Unable to add new jobs within treeherder"
So, I'm not sure if it is the right place for reporting this, and maybe it is a duplicate - feel free to close it if this is the case;

So I pushed to try https://treeherder.mozilla.org/#/jobs?repo=try&revision=da728cb1294e. Now I missed something in the try syntax, so I want to trigger new jobs, that is some talos jobs for the Linux64 and Win32/64 jobs. I used the interface for that, and went to

[2016-01-19 16:52] armenzg commented on #422
Hi @parkouss I hope to start looking into issues like this soon. I filed it under pulse_actions which processes treeherder requests:
https://github.com/mozilla/pulse_actions/issues/47

[2016-01-19 16:52] #422 closed

[2016-01-19 16:56] parkouss commented on #422
Thanks @armenzg for the answer, and for moving the bug at the right place!

[2016-01-19 21:17] armenzg commented on #421
Thankfully this regression was only introduced yesterday. [1]
I wonder how I did not catch it.

Thanks @MikeLing I will fix it

[1] https://github.com/mozilla/mozilla_ci_tools/commit/b43a3c19fb751d5826586539ac438afe1112c998#diff-97b1ad150590d9b7fcb8e6bab49c28d5L279

[2016-01-19 21:29] armenzg commented on #421
I pushed a fixed.
Let me know if it got fixed.

[2016-01-19 21:29] #421 closed

[2016-01-19 22:15] armenzg opened #423 "Calling buildbot_graph_builder with incorrect builders should not fail"
I'm adding to pulse_actions discarding invalid builders in order to not fail when calling buildbot_graph_builder().

Mozci should handle this more gracefully.
[code]

[2016-01-19 22:23] armenzg opened #424 "Cannot schedule graphs where the top most builder is a test job"
In pulse_actions, we need to schedule test jobs that have an existing Buildbot build independently from TaskCluster.

This of this graph:
[code]
We can't use TaskCluster to schedule that through the BBB unless there was a way to specify which build and test job to use.

We should be able to schedule with something like this:
[code]

[2016-01-20 14:37] armenzg commented on #344
@MikeLing got this done!

[2016-01-20 14:37] armenzg commented on #383
Done done!

[2016-01-20 14:37] #383 closed

[2016-01-20 14:38] #344 closed

[2016-01-20 15:02] armenzg commented on #412
We might have lost the functionality somewhere https://github.com/mozilla/mozilla_ci_tools/commit/d5d914ee98c53ecffae4577577b168722a57a10e

[2016-01-21 07:21] MikeLing commented on #391
https://github.com/mozilla/mozilla_ci_tools/pull/425

[2016-01-21 08:02] MikeLing commented on #412
@armenzg Hmm, So how could we know if the build has been completed or not? Do we have any api or method or got that? I found the way we used in trigger_missing_job function is just trigger every build test no matter is completed or no.

[2016-01-21 16:48] armenzg commented on #412
This is actually tough to do without taking a lot of computation time (e.g. calling determine_trigger_objective for every builder).

I think it would be better time spent trying to make determine_trigger_objective() to work with treeherder instead of being forced to use the BuildApi() [1]

In general, querying metadata about jobs through BuildApi is very expensive while using treeherder can be les

[2016-01-22 06:38] MikeLing commented on #412
Sure, let me close it and please tell me if there are anything I could help:)

Thank you armenzg.

[2016-01-22 06:38] #412 closed

[2016-01-22 07:43] MikeLing commented on #391
I think this issue could been closed https://github.com/mozilla/mozilla_ci_tools/pull/425 since this PR has been merged :)

[2016-01-22 07:43] #391 closed

[2016-01-22 14:23] armenzg opened #426 "Make determine_trigger_job be able to work without BuildApi()"
Currently, to determine what to trigger, we need to talk with BuildApi() and grab all sorts of buildjson files. Fetching these files over network end up taking too much time.

We should be able to change determine_trigger_job() to work with treeherder [1]. Even if treeherder data can be less accurate.

In my next quarter I hope to fix the accuracy of Treeherder by switching Buildbot jobs to be sch

[2016-01-22 14:53] armenzg opened #427 "Improve --help for trigger.py script"
We currently have multiple modes on trigger.py, however, when we list the help output we mix options which are *only* valid for some mode with all the other ones.

Think of hg.
If you type hg --help, it will list you all commands available (e.g. add)
If you type hg add --help, it will *only* list help that is related only to that mode.

[2016-01-22 15:01] armenzg commented on #286
This is easier to solve once we switch to using BBB from in-tree.

[2016-01-22 15:01] #286 closed

[2016-01-22 15:04] armenzg commented on #312
Duped of https://github.com/mozilla/mozilla_ci_tools/issues/273

[2016-01-22 15:04] #312 closed

[2016-01-22 15:06] armenzg commented on #332
I believe this was fixed in here:
https://github.com/mozilla/mozilla_ci_tools/commit/d5d914ee98c53ecffae4577577b168722a57a10e

[2016-01-22 15:06] #332 closed

[2016-01-22 15:23] armenzg commented on #346
@MikeLing I believe this is an issue that you have the skills to fix. We could add it as a mode to the trigger.py script. Please let me know if you're interested on working on this.

[2016-01-22 15:26] armenzg commented on #379
triggerbyfilters.py has merged with trigger.py.
I would prefer seeing metadata about repositories being determined through treeherder or the pushlog_client (issue #347).
Closing this for now.

My apologies for having missed the last comment.

[2016-01-22 15:26] #379 closed

[2016-01-22 15:28] armenzg commented on #396
Accomplished by @MikeLing !! \o/

[2016-01-22 15:28] #396 closed

[2016-01-22 15:28] armenzg commented on #396
https://github.com/mozilla/mozilla_ci_tools/commit/eb5866acfface273b521570b2f695c270a878455

[2016-01-22 16:40] armenzg opened #429 "--trigger-only-test-jobs does not do work properly"
In this push:
https://treeherder.mozilla.org/#/jobs?repo=try&revision=cd403eeef6ad
there are no Buildbot jobs.

Calling trigger.py with --trigger-only-test-jobs should *not* try to schedule any jobs since there are no Buildbot builds completed (as the help says).

The code reached is this:
https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/scripts/trigger.py#L320

armenzg@armenzg-thinkp

[2016-01-22 18:48] #348 closed

[2016-01-23 02:40] MikeLing commented on #346
yes of course, I would happy to work on that :)

[2016-01-23 04:12] MikeLing opened #430 "Mozici return none of metadata when schdule job by taskcluster."
As @armenzg mentioned in https://github.com/mozilla/mozilla_ci_tools/pull/390#issuecomment-173973348, mozici tool return none of metadata when it schdule job by taskcluster.
<pre><code>
1/23/2016 10:37:15 mozci INFO:	Outputting the graph:
{
    "scopes": [
        "queue:define-task:buildbot-bridge/buildbot-bridge",
        "scheduler:create-task-graph"
    ],
    "tasks": [
        {

[2016-01-25 13:37] armenzg commented on #346
Thank you MikeLing!

[2016-01-25 13:40] armenzg commented on #430
Good catch!
I think it is fine to make metadata an optional argument rather than grab it through **kwargs.

[2016-01-25 18:33] armenzg commented on #423
Fixed in https://github.com/mozilla/mozilla_ci_tools/commit/11b33da120b1f49afc36fc5c7a65875d75e27a5e

[2016-01-25 18:33] #423 closed

[2016-01-26 06:35] MikeLing commented on #430
I think this issue had been fixed in this PR(https://github.com/mozilla/mozilla_ci_tools/commit/63a1de3ad416f5f5fa1976ec931d22b67a344886) and we could close it now :)

[2016-01-26 06:35] #430 closed

[2016-01-26 14:00] MikeLing commented on #384
I think this issue could be closed for this PR(https://github.com/mozilla/mozilla_ci_tools/pull/390) had been merged :)

[2016-01-26 14:00] #384 closed

[2016-01-26 14:20] MikeLing commented on #427
yeah, I understand it's a very annoying thing when you want to search help for a special command but you got whole help list. But in trigger.py we define those command as an 'option'(I'm not sure if it's a good words to describe it), which means all these commands are in same level. So I'm not sure if we can do the same thing like 'hg --help' and 'hg add --help'.

[2016-01-26 14:50] armenzg commented on #177
Right now, the buildapi code lives in a different repo.
Hence, not having knowledge of allthethings.json (where the data lives to determine valid builders).

We could try to determine if Buildapi recognizes the builder after a post [1], however, from my initial comment (and my memory), Buildapi won't tell you that you submitted a bad buildername. In fact, someone will have to go and clean up the r

[2016-01-26 15:05] armenzg commented on #346
Hi @MikeLing as you asked on IRC.

I would suggest you writing a temporary script trying to use this query source [1]
Point it to a push and try to investigate which jobs are green and which ones are not.

You should be able to find examples in the repo where we use that class.
If you get stuck, please post a gist of the script you're writing and we can discuss it.

[1] https://github.com/mozilla/

[2016-01-26 15:10] armenzg commented on #427
We should be able to.
We just need to look at what argparse allows us to do.

I also get confused with the term 'option' and other related argparse concepts.

[2016-01-28 02:52] MikeLing commented on #361
Hi @armenzg , this issue seems very interesting and I would like to learn more about how we use taskCluster inside. So, could you assign this to me? :)

[2016-01-28 02:53] MikeLing commented on #307
Mark this, and I would like to work on this if @go-bears is ok with that.

[2016-01-28 03:45] MikeLing commented on #177
Hello @armenzg,

Do we have the valide_builder() function in mozci.py? I think we only have query_builders() in it and we need to validate builder name by ourselves. :)

So, we need to 'create' a valide_builder() function in mozci.py and call _valide_builder() which in ci_manager.py? And we need realize the valid_builder in ci_manager.py :)

Am I right? please correct me if I'm wrong. Thank you :)

[2016-01-28 16:10] armenzg commented on #361
Thank you MikeLing! This would be *very* useful to have as it will make our lives easier.

[2016-01-28 16:11] armenzg commented on #307
I'm sorry @go-bears I haven't heard back from you since August. I will be assigning this to @MikeLing
I hope you understand.

[2016-01-28 17:01] armenzg commented on #177
valid_builder():
https://github.com/mozilla/mozilla_ci_tools/blob/63a1de3ad416f5f5fa1976ec931d22b67a344886/mozci/mozci.py#L337

You understood it well! :+1:

[2016-01-29 07:54] MikeLing commented on #307
https://github.com/mozilla/mozilla_ci_tools/pull/431

[2016-01-29 15:05] armenzg commented on #96
An easy way to test this is by adding flake8_docstring to tox.ini
After that, run 'tox' and you will see all the failures.

[2016-01-29 15:10] armenzg commented on #96
Instead of focusing on a specific file to fix up.
We can also focus on a specific type of failure.
The trick would be how to modify [flake] under tox.ini to exclude the errors we don't want to see.

For instance, we already have one modifier (line length):
[code]

[2016-02-02 14:29] MikeLing commented on #307
close it due to this pr (https://github.com/mozilla/mozilla_ci_tools/pull/431) has been merged :)

[2016-02-02 14:29] #307 closed

[2016-02-02 15:25] armenzg commented on #361
Here are some more notes. Please read them. It will help you understand what you're helping with:
http://armenzg.blogspot.ca/2015/09/mozilla-ci-tools-upcoming-support-for.html
http://hearsum.ca/blog/buildbot-taskcluster-bridge-an-overview.html

[2016-02-02 19:43] go-bears commented on #307
Hi Arman,

Thank you for letting  me know.  I was trying to work on it but couldn't
get the code to pass the tox test properly even as a simple dictionary
solution, and was unsure on how to implement the defaultdict().

I started Hackbright Academy's full time program recently, and have been
overwhelmed with homework and learning new technologies. I totally
understand that you re-assigned the fix.

[2016-02-02 20:45] armenzg commented on #307
Hi Melissa,
Congratulations on Hackbright! That is exciting to hear.

One easy way for guidance is to ask directly on the issue and I should be able to get back to you within 24 hours during work days.
Also IRC is a good option.
My apologies if I have failed in the past to get back to you in a timely manner. It's not been easy my projects in the last 4 months.

I'm always happy to help. There's al

[2016-02-05 15:01] armenzg commented on #132
@xennygrimmato your work will help me with this task. What issue or bug where we using to track your work?

[2016-02-05 15:01] armenzg commented on #152
I will close this. I will be tackling as whole next quarter and the issue as is does not help me.

[2016-02-05 15:01] #152 closed

[2016-02-05 18:12] xennygrimmato commented on #132
@armenzg This one here [1].

[1]: https://bugzilla.mozilla.org/show_bug.cgi?id=1232005

[2016-02-05 18:25] mandaltapesh commented on #96
hi all,
i opened a PR for this https://github.com/mozilla/mozilla_ci_tools/pull/432

[2016-02-05 18:29] armenzg commented on #132
Great!
I will track it on bugzilla.

[2016-02-06 05:29] MikeLing commented on #346
@armenzg Is that mean something like this? https://gist.github.com/MikeLing/4f6a1c54e9177c8a39b9
and we can trigger it separately :)

[2016-02-08 21:27] armenzg commented on #346
OK good!
You're in the right direction.
Now that you have a piece of code that works, I would carefully integrate it as part of trigger.py (a new mode).

[2016-02-09 02:52] MikeLing commented on #346
yes indeed. I think integrate it as a new mode for trigger.py is a good ideal :)

[2016-02-10 06:36] MikeLing commented on #346
https://github.com/mozilla/mozilla_ci_tools/pull/433

[2016-02-10 14:51] armenzg commented on #406
I think it refers to:
https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/mozci.py#L440

We should probably raise an exception under trigger()
https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/mozci.py#L537

[2016-02-10 14:51] armenzg commented on #406
@tapeshmandal mentions that he would like to work on this.

[2016-02-10 17:19] armenzg commented on #406
Yes, that file:
https://github.com/armenzg/buildapi_client/blob/64853d0bbaff97d9f7b690dfb7ec389f5ff227cf/buildapi_client/buildapi_client.py#L29

[2016-02-11 19:04] armenzg commented on #424
For every Buildbot build job, we have a task associate [1]. Unfortunately, it is not really related to the main task graph for the push.
Just for comparison, I'm adding info about what a TC task looks like [2]

[1]
[code]

[2]

[code]

[2016-02-16 15:18] armenzg opened #435 "Determine if trigger_bot could use a different buildapi retrigger method"
I just merged the second retrigger function which Buildapi supports:
https://github.com/mozilla/mozilla_ci_tools/pull/434

It really itches me that we have two retrigger methods for buildapi and I just don't remember why there's the need for a second one.

Once trigger-bot gets ported to pulse_actions let's see if we can use the original retrigger function and remove this second function.

Nothing

[2016-02-19 11:37] MikeLing commented on #426
Oh, sorry! I just see this issue and somehow I miss the notification from github :(

I haven't read it in detail, but I would like to happy of course ;)

[2016-02-19 14:57] armenzg commented on #426
Yay! Thanks @MikeLing . This might be a tough one (or an ugly issue :P).

[2016-02-19 16:35] armenzg opened #437 "Use JSON schema validator to validate TC graphs"
e.g. http://schemas.taskcluster.net/scheduler/v1/task-graph.json
against graph below should show that is invalid.

[code]

[2016-02-19 18:25] armenzg commented on #347
@xennygrimmato Is it OK if we allow someone else pick it up?

[2016-02-19 18:30] xennygrimmato commented on #347
Yup

On Friday, February 19, 2016, Armen Zambrano <notifications@github.com>
wrote:

--
Regards,
Vaibhav Tulsyan.

[2016-02-19 19:05] armenzg commented on #347
Thank you!

[2016-02-22 14:29] armenzg commented on #395
@MikeLing I believe you did *not* have your eye on this issue; correct me if I'm wrong.
@tapeshmandal is interested on working on this.

[2016-02-22 15:11] mandaltapesh commented on #177
@MikeLing  are you working on this ?

[2016-02-22 17:30] mandaltapesh commented on #395
@armenzg i think this is the function that deals with the above mozci/query_jobs.py
line 45

 def determine_missing_jobs(self, repo_name, revision, considered_list_of_builders=None):
        if considered_list_of_builders is None:
            considered_list_of_builders = list_builders(repo_name=repo_name)
        considered_list_of_builders = set(considered_list_of_builders)
        coalesced_job

[2016-02-22 18:44] #416 closed

[2016-02-22 19:02] armenzg commented on #395
Hi @tapeshmandal , you should look into starting a python notebook (here's an example [1]).
If you manage to understand and use Python notebooks for development you will gain a very good skill for your career. It takes a bit to get used it (logging and reloading modules) but it is a great tool.

In it, you can import this function and call it with 'mozilla-inbound' as the repo_name.
Pick a revisio

[2016-02-23 05:03] MikeLing commented on #177
hey @mandaltapesh, no I haven't work on this issue. feel free to take it if you're interested on it: )

[2016-02-23 14:00] armenzg commented on #347
Fixed with https://github.com/mozilla/mozilla_ci_tools/pull/438

[2016-02-23 14:00] armenzg commented on #346
Fixed by @MikeLing

[2016-02-23 14:00] #346 closed

[2016-02-23 14:22] armenzg commented on #426
Adding notes about using TaskCluster to find files:
########################################
<armenzg> mikeling, what I was telling you about TC, we can use the index to find tasks with artifacts
<armenzg> *every* buildbot job build uploads to TC
<armenzg> it's a neat dark secret
<armenzg> for instance, for a given revision
<armenzg> e.g. https://tools.taskcluster.net/index/#gecko.v2.mozilla-inbou

[2016-02-23 14:23] #347 closed

[2016-02-23 19:27] armenzg opened #439 "Add tests to trigger.py"
I believe the script has become complicated enough that we should start adding tests for it.
Each mode should be tested with a couple of variances.

[2016-02-24 16:37] F3real opened #440 "Add dry_run param to auth function"
Since auth was changed to be additional parameter for functions in buildapi_client, auth is required even  if dryRun is set to True.
This means that client need to authenticate himself even if no request are going to be sent. Adding dryRun as additional param to auth would enable us to avoid this.
For backward compatibility we can add dryRun it so it defaults to False.

[2016-02-24 20:38] armenzg commented on #440
I think we can just add dry_run to ever function which needs auth.
And then add "if dry_run" for every piece of code which would need to make use of auth.

#########################
Another idea, is that we could also introduce OO programing to buildapi_client.

The constructor takes auth and dry_run while most functions would loose auth and dry_run from their signature.
In the constructor we coul

[2016-02-24 20:38] armenzg commented on #440
I think we should file the issue under buildapi_client as well.

[2016-02-25 17:26] armenzg commented on #395
We will need to either modify that test and MOCK_ALLTHETHINGS https://github.com/mozilla/mozilla_ci_tools/blob/master/test/test_platforms.py#L176

[2016-02-25 17:33] armenzg commented on #395
What this issue is about to change the result of this to only two builders:
[code]

[2016-02-26 04:52] MikeLing commented on #439
Maybe I can work on this :)

[2016-02-26 13:58] armenzg commented on #439
This would be super awesome as we used to rely on manual testing and have not done much of it these days!

It might require moving certain "modes" into their own isolated functions to be able to test them.

[2016-02-29 19:34] armenzg commented on #96
In #432 tapesh added support for flake8 docstrings, however, a lot of warnings were disable at the same time [1]

We would like to remove most of those warnings to improve the quality of the documentation of the project and hopefully the quality.

[1] https://github.com/mozilla/mozilla_ci_tools/blob/master/tox.ini#L23

[2016-02-29 19:38] armenzg commented on #273
In general we will be switching to using Treeherder as our source of jobs instead of Buildapi hence closing this issue.

[2016-02-29 19:38] #273 closed

[2016-02-29 19:41] armenzg commented on #345
Some more information in this thread:
https://groups.google.com/forum/#!topic/mozilla.tools.taskcluster/dP0CBiWiSMU

[2016-02-29 19:42] armenzg commented on #397
@MikeLing did a wonderful work and got this done. Thanks!

[2016-02-29 19:42] #397 closed

[2016-02-29 19:43] armenzg commented on #398
Once I resume work in April around TC I will see what is actually needed.
The code has changed a bit since November

[2016-02-29 19:43] #398 closed

[2016-02-29 19:45] armenzg commented on #406
This got fixed by @tapeshmandal in here:
https://github.com/armenzg/buildapi_client/commit/86ee2a3630582e0934b009da233071f9b1265d39

[2016-02-29 19:45] #406 closed

[2016-03-01 03:10] MikeLing commented on #177
Due to @xennygrimmato said he has interesting in this issue and @mandaltapesh haven't take this for now. I think let xenny to work on this issue is a good ideal :)

[2016-03-07 21:37] armenzg commented on #435
trigger bot is being ported in here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1232355

[2016-03-08 15:34] armenzg opened #442 "Add test cases for repo with only opt tests and repo with only pgo tests"
In https://github.com/mozilla/mozilla_ci_tools/pull/441/files#r55373290 I determined that we need to handle a couple of more test cases. @tapeshmandal said he would follow up on it.

A new repo with only opt.
Another new repo with only pgo.

It will probably raise an exception when we try to check on a builder that does not exist on MOCK_ALLTHETHINGS.
Once _wanted_builder() calls get_buildername_m

[2016-03-22 14:43] MikeLing commented on #426
I got some progress on this :)

I think we could use this client[1] in mozci_tool to interact with taskcluster and we can easily get json data like https://index.taskcluster.net/v1/task/gecko.v2.mozilla-inbound.revision.0003682e05b93a1ce2f226665b848d25f12f3919.firefox.linux64-debug :)

I will go ahead look more into this and figure out which file we need to trigger job. I think we need use these a

[2016-03-23 06:45] MikeLing commented on #426
Hey @armenzg, could you tell me more about the packageUrl and testPackagesUrl in https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/mozci.py#L297-L303. Because I'm not sure which artifacts we want from https://tools.taskcluster.net/task-inspector/#t1dd870CQsWqlVFB_qo0ag/0

[2016-03-24 14:49] armenzg commented on #426
We use taskcluster-client inside of the module tc.py

package url is normally the firefox tar ball (linux) [1], zip file (Windows), dmg file (Mac) and apk (Android)
test url is the tests.zip which contains all tests (we're deprecating this).
test packages url is a json [2] file which contains metadata of smaller zip files.

When a test job is running, it won't need to download all test zip files b

[2016-03-25 14:41] MikeLing commented on #426
@armenzg , the build_jobs in here[1] is empty when I use

to test it. Could you tell me why? I haven't notice that before, could you give me a example that I can have some build jobs in it? Thank you :)

[1]:https://github.com/mozilla/mozilla_ci_tools/blob/master/mozci/mozci.py#L164

[2016-03-28 13:57] armenzg commented on #426
Hi @MikeLing you have probably found a regression we have.
Do you have time to look into it? [1] I used a Windows 8 64-bit builder since the build for the Windows 7 32-bit completed.

[1] https://gist.github.com/armenzg/d28af14c690932fdf195

[2016-03-28 15:10] MikeLing commented on #426
Hi @armenzg , I can't got any build job by 'Windows 8 64-bit builder'.

The thing I do is add an output like **LOG.debug("List of matching jobs is %s" % build_jobs)** in this line[1] and I got **List of matching jobs is []** by "Windows 8 64-bit mozilla-central opt test gtest"
BTW, could you tell me some more about regression? why there's no build job if it's a regression build? Thank you :)

[1]

[2016-03-28 15:31] martiansideofthemoon commented on #437
Hey armenzg, I'd like to work on this issue. It looks really interesting! So if I understand correctly, I'm supposed to check a given JSON string against a JSON schema and return a boolean right?
1. Would the readme be sufficient to setup and run `mozci_tools` on my Ubuntu 14.04 PC, assuming I don't have any of the dependencies installed?
2. Which part of the code would I need to make changes in?

[2016-03-28 20:35] armenzg commented on #426
It seems that I called the script incorrectly.
I should have used 'Windows 8 64-bit mozilla-**inbound** opt test gtest'

Could you try again when you see this message? I don't have a good connection at the moment.

[2016-03-28 20:38] armenzg commented on #437
Thank you so much!

python setup.py develop should set everything you need.
I think you can add the code to tc.py
I've not used a json validator either.
I know that bhearsum might have used it in his buildbot-bridge repo [1]
There might also be examples in here [2]

Let me know how you make progress.

[1] https://github.com/mozilla/buildbot-bridge
[2] https://github.com/taskcluster/taskcluster-cli

[2016-03-29 03:58] MikeLing commented on #426
@armenzg , I got the job data now! Thank you :)

But how could we know which is the right file we want to achieve? Even we could queue a list of artufacts' name from https://queue.taskcluster.net/v1/task/t1dd870CQsWqlVFB_qo0ag/runs/0/artifacts, there aren't some tags or similar thing could help us find out which is **package url we want** and which is **the test json contain the whole test url**.

[2016-03-29 13:35] armenzg commented on #426
It is going to be a bit hacky.
Mozharness does something similar.

You can see finding test_packages.json [1][2]

For installers you could also use constants for the suffixes [3] and do a similar approach as this for/loop [4]. The installer is the one that is not matched in the previous if/else statements. We will need a good test for this.
You can also see in here how in building firefox

Perhaps

[2016-03-29 15:18] armenzg opened #444 "Indicate the buildername when submitting a BBB task instead of 'pulse_actions_graph'"
In this graph:
https://tools.taskcluster.net/task-graph-inspector/#DdvObl_NR7KbNo48IUAI8w
You will see that every task is named 'pulse_graph'.
Instead, we should change this so it shows the buildername.

See one of the defined tasks:
https://queue.taskcluster.net/v1/task/flHe5_JPQK29jo6-h9H0Bw

Simply overwriting metadata['name'] should be sufficient.
https://github.com/mozilla/mozilla_ci_tools/bl

[2016-03-29 17:06] armenzg commented on #426
Hi @MikeLing I've noticed that this whole time we have been dealing with a Buildbot task [1] rather than a TaskCluster task [2].
Buildbot *build* jobs create a task to which they upload artifacts to. Thus, it looks like it was a TaskCluster job (rather than just where some artifacts got uploaded to).

With TaskCluster tasks, we get "target.<extension>" which makes determining the installer file na

[2016-03-30 13:00] MikeLing commented on #426
hi @armenzg , not related with this issue, but I meet some problem when I try to add test for tc.py. here is the things I got for now https://gist.github.com/MikeLing/1de0c9ac75525764c14ec50048b0ec81

_________________ TestGenerateMetadata.test_generate_metadata __________________

query_repo_url = MagicMock name='query_push_by_revision' id='4395761040'
query_push_by_revision = MagicMock name='que

[2016-03-30 17:37] armenzg opened #446 "Make mozci tests network proof"
@martiansideofthemoon and I have noticed that the tox runs on Travis have become rather intermittent. Maybe there are some Mozilla infrastructure issues making things hard.

In order to make the mozci tests network proof we need to add mock object to the intermittent tests.
In order to find these tests, disable the wifi and run tox.

So far I've noticed a couple of tests giving headaches
TestBuild

[2016-03-30 18:57] martiansideofthemoon commented on #446
@armenzg , I get the same failure on my PC. Does it happen for you locally?

[2016-03-30 19:10] armenzg commented on #446
If I disable the WiFi I get the same issues locally. These tests will need some extra mocking so they won't hit the network.

[2016-03-30 19:44] martiansideofthemoon commented on #444
@armenzg ,
sorry, i was afk.. Yup i got a basic idea.. I've never worked with python unittests in the past. I've written unittests for Gaia though in JS. I think I understood some basic things. But I'll be honest, I didn't quite get the @patch part well. I think I wasn't patient enough with the documentation.

[2016-03-31 13:20] martiansideofthemoon commented on #444
@armenzg, yeah it makes sense now :smile: How was it relevant to the unit test i wrote?

[2016-03-31 13:34] martiansideofthemoon commented on #437
@armenzg , this seems like a good choice here [https://pypi.python.org/pypi/jsonschema](https://pypi.python.org/pypi/jsonschema)
Also, a bit unsure where I need to add to code in `tc.py`. Do I just make a function `validateGraph()` or do I interface it with some other function?

[2016-03-31 14:34] armenzg commented on #444
It wasn't! It was my bad.

In general, we try to use @patch to prevent calls to allthethings.json since it is a bad file to write tests agains (hitting diff maxs).

[2016-03-31 14:35] armenzg commented on #437
What you did in your PR looks good.

[2016-04-01 16:39] martiansideofthemoon commented on #437
@armenzg , could you tell me the problem with the graph in your first comment? Why it should be invalid

[2016-04-01 18:22] armenzg commented on #444
I think this is now completed. Thanks @martiansideofthemoon

[2016-04-01 18:22] #444 closed

[2016-04-01 21:58] martiansideofthemoon commented on #437
@armenzg, this was a lot of fun to complete, and I think I learnt a bit. So primarily, I was facing a problem validating the JSON [here](https://bug1253700.bmoattachments.org/attachment.cgi?id=8727476). `jsonschema` was always returning a `True` value. I fixed this by adding a `FormatChecker()` as documented [here](http://stackoverflow.com/questions/20264146/json-schema-date-time-does-not-check-co

[2016-04-04 12:37] armenzg opened #450 "Determine issue with test_call_without_any_cache()"
We keep on getting this error on Travis builds (which does not happen locally):
https://travis-ci.org/mozilla/mozilla_ci_tools/builds/120184926

I wonder if this:

should be this:

or if we need to mock the TreeherderClient() call directly (probably the latter).

[code]

[2016-04-04 13:52] armenzg commented on #437
This is the error I get for the first graph:

Is this the error you were also getting?

[2016-04-04 14:46] armenzg opened #451 "Tox should run our tests with a set known of dependencies + the latest version of our dependencies"
By doing this, we can detect when a newly released python dependency starts causing the issues instead of our own changes.

Right now, we always test against the latest versions of our dependencies.

[2016-04-04 14:51] F3real commented on #451
I'll try to do this.

[2016-04-07 12:37] armenzg commented on #450
@martiansideofthemoon fixed this in the latest PR:
https://github.com/mozilla/mozilla_ci_tools/commit/f20ca69dda024e8ee5120eb5eedd92e8829f7fa6

Good job!

[2016-04-07 12:37] #450 closed

[2016-04-07 12:38] armenzg commented on #446
This is nice to have but it is not that bad. We can just rerun the Travis builds when they fail if they fail.
I was hoping this would help with the current test failures that martianwars just fixed.

Let's not work more than we need to! :smile:

[2016-04-07 12:38] #446 closed

[2016-04-07 12:49] armenzg commented on #437
This has been completed. Thank you!

[2016-04-07 12:49] #437 closed

[2016-04-07 13:18] armenzg commented on #413
@ahal has some projects coming down the pipeline which would benefit from this.

The idea is that if a developer has scm_level and they authenticate, they get a bunch of scopes assigned to them and they would be able to schedule TaskCluster tasks directly from the command line.

We're looking into adding some new tricks to mach to do this.

[2016-04-11 21:55] armenzg opened #456 "Clearly define Buildbot and TaskCluster modules and dependencies"
I want to improve the layout of the project and make other tools have it easy to _only_ install the dependencies needed for TaskCluster versus the dependencies required for Buildbot.

This will be a major refactoring but will make the code much easier to understand and contribute to.

[2016-04-13 07:08] mandaltapesh commented on #429
@armenzg   mozilla_ci_tools has been restructured ..so can you please update the bug info(the link to code and the terminal command) if possible :)

Have been busy off late , that is the cause of delay

[2016-04-13 13:29] martiansideofthemoon commented on #413
@armenzg hey! I would like to start working on this. I found the bug title a bit non-specific, so where could I begin figuring this out?

[2016-04-13 14:07] armenzg commented on #429
@mandaltapesh please give it a try to figurying out the links.

I've just pushed new code that makes the call like this (only "mozci/" has been dropped):
[code]

[2016-04-15 14:21] armenzg opened #460 "Make required changes to use latest keyring module"
When using the command line, it is nice that we have the keyring to help us managed our passwords and not have to type our passwords again and again.

Unfortunately, I've had to limit keyring to version less than 6.0 in order to still be able to use it.
Newer versions break us.

If we could investigate it and fix our authentication module it would be great.

I also would like to move the keyring d

[2016-04-16 19:51] armenzg commented on #130
I will be taking care of this on this quarter by adding unit and functional tests.

[2016-04-16 19:53] armenzg commented on #177
@xennygrimmato are you working on this? or can we put it back into the pool of available issues?

[2016-04-16 19:54] armenzg commented on #345
Hi @xennygrimato have you made progress in this? or is it fine if we close it?

[2016-04-16 19:55] armenzg commented on #361
Hi @MikeLing have you had a chance to make progress in here?

[2016-04-16 19:56] armenzg commented on #395
This got fixed in here:
https://github.com/mozilla/mozilla_ci_tools/commit/060e7b4948108d324521e7ba7382f6802bba6e46

[2016-04-16 19:56] #395 closed

[2016-04-16 19:57] armenzg commented on #364
Hi @F3real are you still interested on this issue? or are you fine if we closed it?

[2016-04-17 06:56] MikeLing commented on #361
hey @armenzg , I haven't get some progress. :(

[2016-04-18 13:01] armenzg commented on #361
Do you want me to make unassigned for now and have it available for either you or someone that comes along that can focus on it?

[2016-04-18 13:48] MikeLing commented on #361
ok, Let's unassigned it from me for now and I will commit a PR directly if nobody work on it at that time :)

[2016-04-20 17:03] armenzg opened #466 "Add tests to validate various authentication methods for TaskCluster"
I added new code [1] which has three ways of instanciating the TaskClusterManager code:
* with dry_run
* with two environment variables
* with web based authentication

We need to add tests for these three case scenarios (we only have the first one).
For the web base authentication we can create a mock or using @patch.

[1] https://github.com/mozilla/mozilla_ci_tools/commit/7a2e7fc2b8efa14f4652004

[2016-04-24 06:05] F3real commented on #451
@armenzg Should we close  this one ? Now when https://github.com/mozilla/mozilla_ci_tools/pull/453 landed.

[2016-04-25 14:17] armenzg commented on #451
Yes! Sounds good.

[2016-04-25 14:17] #451 closed

[2016-04-30 13:14] martiansideofthemoon opened #468 "get_buildername_metadata() doesn't work for pgo build"
@armenzg when I run `get_buildername_metadata()` for a `pgo` build, I get `opt` as the `repo_name`. Shouldn't it be `pgo`?

[2016-05-02 14:38] armenzg commented on #468
Would you mind pasting code output? It will be easier to discuss.
You can also use a python notebook if you prefer to share code + output.

[2016-05-02 17:00] martiansideofthemoon commented on #468
On running `get_buildername_metadata()` for a PGO build, I get
[code]
Shouldn't `build_type` be PGO?

[2016-05-03 11:47] armenzg commented on #468
Yes, let's use the PR to follow up on this.

[2016-05-06 12:41] armenzg opened #471 "Improve PGO and nightly detection"
Yesterday we landed PGO classification of jobs (great!).
My graph generation script started failing due to the 'pgo' key missing, I landed a fix but that led me to dig deeper.
I've noticed in [2] that we mark many more builders as PGO than we intended to.

I also believe we should put nightly builds into their own category.

We also need to improve the relationships of l10n-nightly jobs to their a

[2016-05-06 20:53] #468 closed

[2016-05-09 18:46] armenzg opened #472 "Add filter_invalid_builders() to mozci"
In pulse_actions we had to add logic to filter out builders that have been renamed [1][2]
This is due to a bug of Treeherder sending us the old value.

Having this functionality in mozci would be useful for others tools that might try to use mozci with Treeherder.

We should add few tests for this.

[1] https://github.com/mozilla/pulse_actions/blob/master/pulse_actions/utils/misc.py#L58
[2] https:

[2016-05-12 17:52] armenzg opened #474 "Change tests to grab a specific version of allthethings.json"
Instead of using mock_allthethings.json

[2016-05-18 21:44] martiansideofthemoon commented on #474
Can we close this now? :smile:

[2016-05-19 12:48] armenzg commented on #474
Yep!

[2016-05-19 12:48] #474 closed

[2016-05-19 13:56] martiansideofthemoon commented on #471
@armenzg I'll try to work on this

[2016-05-19 13:56] armenzg commented on #456
There are few changes I have in mind:
* Move mozci.py, platforms.py and query_jobs.py into mozci/buildbot/
** Some of the functions inside of those modules might need to be pulled out and be put under mozci/taskcluster
** Some might need to stay under mozci/ if it is common to both CIs (e.g. query_revision_range())
* Create a vcs.py moduler under mozci including all functions related to pushes and

[2016-05-20 21:57] armenzg commented on #471
I've landed a big refactoring to get_buildername_metadata() and disabled the graphs test as I run out of time working on this.

In this issue could you look into the following items:
* Reactive the test which we're skipping after my latest change
* Look into making our tests run faster
  * The change to get rid of mock_allthethings.json made the runs slower
  * You can use py.test --durations=10 t

[2016-05-24 18:36] armenzg commented on #471
An error in my logic:
https://github.com/mozilla/mozilla_ci_tools/commit/9f14aebcf3255a12114076098ef6ce8b0ed5ea8d#diff-080760856cfeb3690166d07dd9636fdfR288

[2016-05-25 18:31] armenzg opened #478 "get_buildername_metadata() should know which builders are scheduled per-push versus a periodically"
Recently, I've noticed that we avoided pgo builders in list_builders() by evaluating them as invalid (accomplished by an the previous version of _wanted_builder() [1]).
That made trigger_missing_jobs_for_revision() work, however, that prevents "adding new pgo jobs" [2].

In my latest refactoring we don't invalidate 'pgo' builders [2], thus, scheduling them.
However that makes list_builders() consi

[2016-05-30 13:05] armenzg opened #479 "Mozci changes to schedule tasks from the full-task-graph.json"
The data structures generated by TaskCluster are now different [1] (about 2.2 MB - unfortunate it's rather big).

I would approach this by writing a prototype script and scheduling it.

I have a script that might be useful for you to wrap your head around it [2]

You can obtain credentials easily for TaskCluster by making a script open an auth tab on your browser, however, that only gives you temp

[2016-06-27 15:44] mandaltapesh commented on #177
@xennygrimmato @armenzg @MikeLing   is this issue available ?

[2016-06-27 16:34] armenzg commented on #177
This was fixed long time ago.

[2016-06-27 16:34] #177 closed

[2016-07-12 18:41] edmorley opened #492 "pytest-runner shouldn't be in install_requires"
Otherwise all consumers of the `mozci` package will end up installing it, when they don't need it.

It should go in `tests_require` instead.

In addition, the main packages shouldn't be listed in both `install_requires` and `tests_require` (the latter is intended as additions to the already installed, not a replacement for).

[2016-07-12 18:42] edmorley commented on #492
See:
http://setuptools.readthedocs.io/en/latest/setuptools.html#new-and-changed-setup-keywords

[2016-07-12 19:10] armenzg commented on #492
Thanks for pointing this out!

Do you have time to look into this?

[2016-07-15 13:28] armenzg commented on #132
This has been solved with Action Tasks by @martiansideofthemoon

[2016-07-15 13:28] #132 closed

[2016-07-15 13:29] armenzg commented on #413
We experimented with this in https://github.com/armenzg/TC_developer_scheduling_experiments/blob/master/schedule_linux64_task.py#L18

[2016-07-15 13:29] #413 closed

[2016-07-21 18:18] #130 closed

[2016-07-21 18:18] armenzg commented on #130
No one really shows interest on writing tests.

[2016-07-21 18:19] armenzg commented on #334
We can live without this.

[2016-07-21 18:19] #334 closed

[2016-07-21 18:19] armenzg commented on #345
We can live without this.

[2016-07-21 18:19] #345 closed

[2016-07-21 18:20] armenzg commented on #361
We can live without this.

[2016-07-21 18:20] #361 closed

[2016-07-21 18:20] armenzg commented on #364
We can live without this.

[2016-07-21 18:20] #364 closed

[2016-07-21 18:20] armenzg commented on #424
We can live without this.

[2016-07-21 18:20] #424 closed

[2016-07-21 18:20] armenzg commented on #426
We can live without this.

[2016-07-21 18:20] #426 closed

[2016-07-21 18:21] armenzg commented on #427
We don't use the scripts as much.
We can live without this.

[2016-07-21 18:21] #427 closed

[2016-07-21 18:21] armenzg commented on #429
We don't use the scripts anymore.
We can live without this.

[2016-07-21 18:21] #429 closed

[2016-07-21 18:21] armenzg commented on #435
We can live without this.

[2016-07-21 18:21] #435 closed

[2016-07-21 18:21] armenzg commented on #439
We can live without this.

[2016-07-21 18:21] #439 closed

[2016-07-21 18:21] armenzg commented on #440
We can live without this.

[2016-07-21 18:21] #440 closed

[2016-07-21 18:22] armenzg commented on #442
We can live without this.

[2016-07-21 18:22] #442 closed

[2016-07-21 18:22] armenzg commented on #460
We don't use the scripts anymore.
We can live without this.

[2016-07-21 18:22] #460 closed

[2016-07-21 18:22] armenzg commented on #466
We can live without this.

[2016-07-21 18:22] #466 closed

[2016-07-21 18:23] armenzg commented on #460
We can live without this.

[2016-07-21 18:23] armenzg commented on #479
I think we landed all that we need in different forms

[2016-07-21 18:23] #479 closed

[2016-09-19 18:57] armenzg opened #498 "Query jobdetails api instead of artifacts api for request id"
Assigning to @wlach
See bug https://bugzilla.mozilla.org/show_bug.cgi?id=1303816 for details.
See the announcement:
https://groups.google.com/forum/#!topic/mozilla.tools/7b0kKoLGhak

[2016-09-19 19:43] wlach commented on #498
This will be easy to fix when https://bugzilla.mozilla.org/show_bug.cgi?id=1303816 is fixed and we have a new version of treeherder client, hope to have this taken care of by tomorrow

[2016-10-05 21:10] armenzg opened #500 "Backfilling does something funky"
Looking at this [range](https://treeherder.mozilla.org/#/jobs?repo=mozilla-inbound&filter-searchStr=Ubuntu%20VM%2012.04%20mozilla-inbound%20debug%20test%20mochitest-media&tochange=4297f858ea5dbecb26625e12d1092824aa78402f&fromchange=ad3ce51b1324f7b34c3310452666ee5635ed9ae8&selectedJob=37114212) we only get one job retriggered.

I don't know how we have not had this issue before.

[TH screenshot](ht

[2016-10-06 14:03] #500 closed

[2016-10-10 02:13] armenzg opened #502 "Make trigger_missing_jobs not fail on build jobs"
I think it thinks Thunderbird builds are test jobs.

TODO:
* change signature for explicit test on empty files (I don't like the current implementation)
* write test

Oct 09 19:01:42 pulse-actions app/worker1.1: mozci	 INFO:	 ==> We want to trigger 'TB Rev7 MacOSX Yosemite 10.10.5 try-comm-central debug test mozmill' a total of 1 time(s).
Oct 09 19:01:42 pulse-actions app/worker1.1: mozci	 INFO:
O

[2016-10-10 02:19] armenzg commented on #502
This happened with:
- TB OS X 10.7 64-bit try-comm-central leak test build
- WINNT 5.2 autoland leak test spidermonkey_tier_1-plaindebug build

[2016-10-13 17:57] armenzg commented on #502
Fixed with:
https://github.com/mozilla/mozilla_ci_tools/commit/35007f57cd3fea1d57f1226dc1f3dcf5d27574b5
https://github.com/armenzg/buildapi_client/commit/342385fa50f60302a3492f949b23ddc437b2f487

[2016-10-13 17:57] #502 closed

[2016-10-13 18:00] #498 closed

[2017-02-08 06:22] mnoorenberghe opened #509 "mozci-trigger binary isn't installed with pip"
`pip install mozci` no longer creates the `mozci-trigger` binary in the virtualenv.

activate         activate_this.py jsonschema       pip2             postdeactivate   python-config    retry
activate.csh     easy_install     keyring          pip2.7           predeactivate    python2          wheel
activate.fish    easy_install-2.7 pip              postactivate     python           python2.7

[2017-08-05 12:43] edmorley opened #512 "tox.ini uses different Python package versions to setup.py"
Compare:
https://github.com/mozilla/mozilla_ci_tools/blob/147a8d16abdb7598363a11c6c36dec5f555064a1/setup.py#L4-L15

To:
https://github.com/mozilla/mozilla_ci_tools/blob/147a8d16abdb7598363a11c6c36dec5f555064a1/tox.ini#L20-L29

It seems like tox.ini should just use `.` to install the local dependencies from setup.py instead.

[2017-08-05 12:44] edmorley commented on #512
(Context: tox.ini uses the older treeherder-client==2.0.1 unlike setup.py which uses v3)

[2017-08-08 14:07] armenzg commented on #512
What you point out on tox.ini was intended to test against a fix set of dependencies (compared to the "new_deps" section https://github.com/mozilla/mozilla_ci_tools/blob/147a8d16abdb7598363a11c6c36dec5f555064a1/tox.ini#L38).
I'm happy to drop it all together and test against *latest* all the time.

Would this work for you?

Also, I believe we will soon be abandoning mozci/pulse_actions.

I think a

[2017-08-08 14:10] edmorley commented on #512
Pinning dependencies is often a good thing, but for a package that's intended to be consumed as is, the packages being tested should be those that the user will get when `pip install`ing the package. ie the pinning should occur in setup.py and not just on the test side.

(Or more specifically, setup.py should use semver version ranges, rather than exact pinned versions)

[2017-08-23 16:01] #96 closed

[2017-08-23 16:01] #99 closed

[2017-08-23 16:01] #196 closed

[2017-08-23 16:01] #456 closed

[2017-08-23 16:01] #471 closed

[2017-08-23 16:01] #472 closed

[2017-08-23 16:01] #478 closed

[2017-08-23 16:01] #492 closed

[2017-08-23 16:01] #509 closed

[2017-08-23 16:01] #512 closed